/*
THEME: 
    (naslov)border bela: #FEFEFE
    naslov rdeca: #EF4428
    podnaslov pinky: #E572AD
    bombon rumena: #E6D6A3/#F7F274
    bombon pinky: #E2AFC0
    ovitk rumena: #FDF100
    ovitek pinky: #EAA4C8
*/

html {
    background-color: #EAA4C8;
    color: #F7F274;
    text-align: left;
}

body {
    max-width: 960px;
    margin: 100px auto;
    text-align: left;
    border: 1px solid #FEFEFE;
    padding: 1px;
}

header {
    color: #EF4428;
    margin: 2px;
    text-align: center; /* Center align the header text */
}

header h1 {
    color: #EF4428;
    -webkit-text-stroke: 1px #FEFEFE;
    text-align: center; /* Center align the main title */
}

footer {
    margin-top: 10px;
    text-align: left;
}

#source {
    color: antiquewhite;
    text-align: center; /* Center align the source link */
    display: block;
}

a {
    color: #fffdcd;
    color: aquamarine;
}

a:hover {
    color: #FDF100;
    color: aqua;
}

hr {
    display: block;
    margin: 20px auto;
    border: none;
    border-top: 1px solid #FEFEFE;
    border-top: 1px solid antiquewhite;
}

h2 {
    margin-left: 10px;
}