html {
    background-color: #EAA4C8;
    color: #F7F274;
    text-align: center;
}

body {
    max-width: 960px;
    margin: 100px auto;
    text-align: center;
    border: 1px solid #FEFEFE;
    padding: 1px;
}

header {
    margin: 2px;
    color: #F7F274;
}

header h1 {
    color: #EF4428;
    -webkit-text-stroke: 1px #FEFEFE;
    margin-bottom: 5px;
}

header p {
    margin-top: 5px;
}

footer {
    margin-top: 10px;
}

.field {
    width: 100px;
    height: 100px;
    color: #F7F274;
    background-color: #EF4428;
    background-image: url('../assets/default.png');
    background-size: cover;
    cursor: pointer;
    margin: 2px;
    margin-top: 6px;
}


a {
    color: aquamarine;
}

#source {
    color: papayawhip;
}

a:hover {
    color: aqua;
}

hr {
    display: block;
    margin: 20px auto;
    border: none;
    border-top: 1px solid #FEFEFE;
    border-top: 1px solid antiquewhite;
}

/*za prvic k hoveras cez dela*/
.field:hover {
    background-image: url('../assets/selected.png');
}
